<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {{ title }}
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/toastr/toastr.css"/>
        <link rel="stylesheet" href="/sweetalert/dist/sweetalert.css"/>
        <link rel="stylesheet" href="/components-font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{{ body }}}
    </body>
    <script defer src="/jquery/dist/jquery.js"></script>
	<script defer src="/toastr/toastr.js"></script>
    <script defer src="/sweetalert/dist/sweetalert.min.js"></script>
    <script defer src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script defer src="/js/modernizr.js"></script>
    <script defer src="/js/main.js"></script>
 </html>
