<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/reset.css">
    </head>
    <body>
        {{{ body }}}
    </body>
    <script defer src="/bower_components/jquery/dist/jquery.js"></script>
	<script defer src="/bower_components/toastr/toastr.js"></script>
    <script defer src="/js/modernizr.js"></script>
    <script defer src="/js/main.js"></script>
 </html>
