<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {{ title }}
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/toastr/toastr.css"/>
        <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{{ body }}}
    </body>
    <script defer src="/bower_components/jquery/dist/jquery.js"></script>
	<script defer src="/bower_components/toastr/toastr.js"></script>
    <script defer src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script defer src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script defer src="/js/modernizr.js"></script>
    <script defer src="/js/main.js"></script>
 </html>
